.container-fluid
{
    color: black;
    background: whitesmoke;
    padding:1px;
    margin-top:50px; 
}
.col-sm-8
{
    border:solid 3px whitesmoke;
    background-color: white;
    margin-bottom: 30px;
}
.gstinput
{
    display:block;
    padding-right: 2px;
    padding-left: 2px;
}
.buttond
{
    display:block;
    float:right;
    padding-right: 2px;
    padding-left: 15px; 
    color:black;
    margin-bottom: 20px;

}