<!--The content below is only a placeholder and can be replaced.-->




<div class="jumbotron">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          
            <ul>
            <li><a routerLink=""><label>Home</label></a></li>
            <li><a routerLink="gregistration/48"><label>Generic Registration</label></a></li>
            <li><a routerLink="addtruck/33"><label>Add Truck</label></a></li>
            </ul>
          
          </div>
            <div class="col-sm-1"></div>  
</div>

  
  <router-outlet></router-outlet>

  <div class="jumbotron">
      <div class="foot">
        <h3>@apnetruck</h3>
      </div>
    </div>