.jumbotron
{
    background: tomato;
    padding:auto;
    
    
}
a
{
    color:silver;
    
}
a:hover
{
    color:rgb(24, 16, 16);
    
    
}
ul
{
    list-style: none;
    
    
}
li
{
    display:inline-block;
    padding:0.2em;
}

.jumbotron
{
    background-color: tomato;
}