.container-fluid
{
    color: black;
    background: whitesmoke;
    padding:1px;
    margin-top:50px; 
}
.col-sm-8
{
    border:solid 3px whitesmoke;
    background-color: white;
    margin-bottom: 30px;
}
.gstinput
{
    display:block;
    padding-right: 2px;
    padding-left: 2px;
}
.buttond
{
    display:block;
    float:right;
    padding-right: 2px;
    padding-left: 15px; 
    color:black;
    margin-bottom: 20px;

}
.permit
{
    display:block;
    float:left;
    margin-left: 10px;
}
.sbbut
{
    diaplay:block;
    //width:100%;
    float:left;
    margin: 25px;
    
    
}
h5
{
    
    color:#404040;
    
}
.col-sm-4
{
    text-align: center;
}
.buttonseq
{
    display:block;
    padding-right: 2px;
    padding-left: 2px;
    margin: 25px; 
}
.bbord
{
    border: 1px solid #404040;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
}